body {
    background-color: #E9E9E9;
    height: 120vh;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: -40px;
}
.cadastrar {
    background: #F7F7F7;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 550px;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 2px solid #3F696F;
    display: inline-block;
}

.input-icon-wrapper {
    position: relative;
    width: 97%;
    margin-bottom: 18px;
}



.input-icon-wrapper input {
    width: 100%;
    padding: 10px 10px 10px 42px;
    border: 1px solid #bab6ac;
    border-radius: 6px;
    font-size: 16px;
}


.botoes-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 18px;
}

.btn-cadastrar {
    width: 100%;
    padding: 12px 0;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    background: #1EB4C3;
    color: #00363C;
    cursor: pointer;
}

.btn-cadastrar:hover {
    background: #22a8b4;
}

.btn-cancelar {
    background: none;
    color: #EC2252;
    border: none;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin-top: 8px;
    width: auto;
    align-self: flex-end;
    transition: color 0.2s;
}