body {
    background-color: #E9E9E9;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.codigo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: -40px;
}

.codigo {
    background: #F7F7F7;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 550px;
}

.logo {
    text-align: center;
    margin-bottom: 25px;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 2px solid #3F696F;
    display: inline-block;
}

.codigo h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 24px;
    color: #000000;
}

.codigo p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.codigo input {
    width: 97%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #bab6ac;
    border-radius: 6px;
    font-size: 16px;
}

.codigoinput::placeholder {
    color: #444549;
    font-weight: 500;
}

.codigo button {
    display: block;
    margin: 0 auto 10px auto;
    width: 50%;
    padding: 12px;
    background: #1EB4C3;
    color: #00363C;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.codigo button:hover {
    background: #22a8b4 !important;
}

#cancelar {
    display: block;
    width: 25%;
    margin: 0 auto;
    padding: 8px;
    color: #EC2252;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}