body {
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.nova-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: -20px;
}

.nova {
    background: #F1EDE2;
    padding: 80px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 550px;
}

.nova-logo {
    text-align: center;
    margin-bottom: 25px;
}

.nova-logo img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    border: 2px solid #EC2252;
    display: inline-block;
}

.nova h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 24px;
    color: #ED2152;
}

.nova input {
    width: 97%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #F1EDE2;
    border-radius: 6px;
    font-size: 16px;
}

.nova input::placeholder {
    color: #444549;
    font-weight: 500;
}

.nova button {
    width: 100%;
    padding: 12px;
    background: #CC4014;
    color: #F1EDE2;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-entrar:hover {
    background: #d55c38 !important;
}

.btn-entrar {
    flex: 1.5;
    background: #CC4014;
    color: #F1EDE2;
    font-size: 16px;
}

#esqueci_senha {
    flex: 1;
    align-self: center;
    text-align: center;
    text-decoration: underline;
    color: #0F0F0F;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    padding: 8px;
}

#cadastro {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 8px;
    color: #0F0F0F;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}