:root {
    --escala-barra: 0.8;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.barra-lateral {
    flex-basis: 30%;
    max-width: calc(450px * var(--escala-barra));
    min-width: calc(300px * var(--escala-barra));
    background-color: #D2D7DC;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-header {
    display: flex;
    height: calc(15 * var(--escala-barra) * 1vh);
}

.aba {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    font-size: calc(30px * var(--escala-barra));
    font-weight: bold;
    border-radius: 17px 17px 0 0;
    transition: background 0.2s;
}

.aba.ativa {
    background-color: #F0F4F9;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: -3px;
    margin-top: -3px;
}

.icone {
    margin-left: 8px;
}

#icone-criacao {
    height: calc(40px * var(--escala-barra));
}

#icone-historico {
    height: calc(35px * var(--escala-barra));
}

.requerimentos {
    flex: 1;
    background-color: #F0F4F9;
    border-top: 3px solid #3F696F;
    border-radius: 0 0 17px 17px;
    padding: 20px;
    overflow-y: auto;
}

.botoes-areas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.botao {
    flex: 1 1 40%;
    height: calc(60px * var(--escala-barra));
    font-size: calc(22px * var(--escala-barra));
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.botao-fisica {
    border: none;
    background-color: #1EB4C3;
    color: #00363C;
}

.botao-fisica:hover {
    background-color: #22a8b4;
}

.botao-quimica {
    background-color: #BBE8EE;
    color: #3F696F;
    border: 3px solid #3F696F;
}

.botao-quimica:hover {
    background-color: #a2cacf;
}

.select-areas {
    width: 97%;
    height: calc(45px * var(--escala-barra));
    border: 3px solid #3F696F;
    background-color: #E9EFF0;
    font-size: calc(22px * var(--escala-barra));
    border-radius: 10px;
    margin-top: 10px;
}

.combobox-customizado-container {
    position: relative;
    width: 97%;
    flex-shrink: 0;
}

.combobox-customizado {
    height: calc(45px * var(--escala-barra));
    border: 3px solid #3F696F;
    background-color: #E9EFF0;
    font-size: calc(22px * var(--escala-barra));
    color: #3F696F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
    box-sizing: border-box;
}

.combobox-customizado::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    width: 8px;
    height: 8px;
    border-bottom: 3px solid #3F696F;
    border-right: 3px solid #3F696F;
    transform: translateY(-75%) rotate(45deg);
    transition: transform 0.2s ease;
}

.combobox-customizado.open::after {
    transform: translateY(-25%) rotate(225deg);
}

.opcoes {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #E9EFF0;
    border: 3px solid #3F696F;
    border-radius: 10px;
    z-index: 100;
    list-style: none;
    margin-top: 8px;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
}

.opcoes.active {
    display: block;
}

.opcoes li {
    display: flex;
    align-items: center;
    font-size: calc(20px * var(--escala-barra));
    color: #3F696F;
    padding: 12px 15px;
    cursor: pointer;
    transition: background 0.2s;
}

.opcoes li img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    object-fit: contain;
}

.opcoes #icone-eletrica {
    height: 27px;
    width: 27px;
    margin-left: -3px;
    margin-top: 6px;
    margin-right: 10px;
    object-fit: contain;
}

.opcoes #icone-optica {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    object-fit: contain;
}

.opcoes li:hover {
    background-color: #d4dcdf;
}

.itens-container {
    margin-top: 25px;
}

.barra-lateral .conteudo-fisica {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
}

.barra-lateral .conteudo-fisica.active {
    display: grid;
}

.barra-lateral .conteudo-quimica {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
}

.barra-lateral .conteudo-quimica.active {
    display: grid;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: calc(15px * var(--escala-barra));
    color: #3F696F;
}

.itens {
    width: calc(130px * var(--escala-barra));
    height: calc(130px * var(--escala-barra));
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #3F696F;
    background-color: #E9EFF0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
}

.itens:hover {
    background-color: #ced4d5;
}

.itens.selecionado {
    background-color: #9fe0ba;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8);
}

.itens img {
    height: 55%;
    width: auto;
    object-fit: contain;
}

.historicos {
    flex: 1;
    background-color: #F0F4F9;
    border-top: 3px solid #3F696F;
    border-radius: 0 0 17px 17px;
    padding: 20px;
    overflow-y: auto;
}

.historicos button {
    background-color: #E3EEFB;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.conteudo {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.loading {
    display: none;
    font-size: 18px;
}


.chat-container {
    display: flex;
    align-items: center;
    width: 90%;
    border: 3px solid #3F696F;
    border-radius: 15px;
    background-color: #F0F4F9;
    padding: 8px 10px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

#chat {
    flex: 1;
    height: 50px;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 0 10px;
    background: transparent;
}

#enviar {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background-color: #1EB4C3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;
}

#enviar:hover {
    background-color: #22a8b4;
}

#enviar:disabled {
    background-color: #ccc;
}

#enviar img {
    height: 23px;
}

#logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
}

.resposta img {
  transition: transform 0.3s ease, position 0.3s ease;
  cursor: pointer;
}

.resposta img.ampliada {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  z-index: 9999;
  cursor: pointer;
}

body:has(.resposta img.ampliada)::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9998;
}

.resposta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    min-height: 60vh;
    position: relative; 
}

.resposta img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    animation: slideDown 0.3s ease;
    max-width: 450px;
}

.resposta button {
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 6px 12px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease;
}

.resposta button:hover {
    background-color: rgba(0, 86, 179, 0.95);
}

.copy-icon {
    font-size: 1.2rem;
}

.resposta a {
    position: absolute;
    bottom: 20px;
    left: 60px;
    padding: 6px 12px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease;
}

.resposta a:hover {
    background-color: rgba(0, 86, 179, 0.95);
}

.download-outline {
    font-size: 2rem;
}

.loading {
    display: none;
    /* elemento não vai se mover mesmo que haja o scroll da tela */
    position: fixed; 
    top: 20px;
    left: 65%;
    transform: translateX(-50%); 
    
    background: #f1f1f1;
    color: black;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    
    font-size: 1.1rem;
    font-weight: 500;
    
    z-index: 1000; 
    
    /* animação de entrada */
    animation: slideDown 0.3s ease;
}

@media (max-width: 760px) {
    .loading{
        top: 500px;
        left: 50%;
    }

    #modalEstatisticas .modal-body {
        padding: 10px;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }

    .chart-container {
        flex: 0 1 auto;
        width: 95%;
        max-width: 100%;
        margin-bottom: 0;
    }

    .chart-container-icones {
        min-width: 95%;
        width: 95%;
        flex-shrink: 0;
    }

    .chart-container-bar {
        min-width: 95%;
        width: 95%;
        flex-shrink: 0;
    }
}

.itens-container-mobile {
    width: 100%;
}

.switch-container {
    display: flex;
    background-color: #BBE8EE;
    width: 240px;
    border-radius: 20px;
    overflow: hidden;
    padding: 2px;
    margin-right: 20px;
    justify-content: center;
}

.switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch-radio {
    display: none;
}

.switch-label {
    padding: 6px 16px;
    font-size: 24px;
    font-weight: 500;
    color: #3F696F;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
    margin-bottom: 0;
    line-height: 1.5;
    border-radius: 20px;
}

.barra-lateral .switch-container {
    margin-bottom: calc(15px * var(--escala-barra));
    margin-left: calc(47.5px * var(--escala-barra));
}

.switch-radio:checked + .switch-label {
    background-color: #1EB4C3;
    color: #00363C;
}

.tres-pontos {
    border: none;
    background-color: #FFFFFF;
    margin-left: 10px;
}

.botao-materias {
    gap: 20px;
}

.mobile-footer .botao {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 35%; 
}

.areas-fisica {
    display: flex;
    justify-content: center;
    width: 100%;
}

.botao-area {
    width: 50px;
    height: 50px;
    border: 2px solid #3F696F;
    border-radius: 50%;
    background-color: #BBC3CD;
    margin: 0px 10px 0px 10px;
    transition: background-color 0.2s; 
}

.botao-area img {
    object-fit: contain;
}

.item-mobile-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #3F696F;
    background-color: #E9EFF0;
    padding: 0;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.item-mobile-icon:hover {
    background-color: #ced4d5;
}

.item-mobile-icon.selecionado {
    background-color: #9fe0ba;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8);
}

.item-mobile-icon img {
    height: 25px;
    width: auto;
    object-fit: contain;
}

.icones-scroll-wrapper {
    display: none;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 5px;
    margin-bottom: 15px;
    background: #E9EFF0;
    border-radius: 10px;
    border: 2px solid #D2D7DC;
}

.mobile-footer .icones-lista {
    display: none;
}

.mobile-footer .icones-lista.active {
    display: flex;
    gap: 15px;
}

.mobile-footer .conteudo-fisica, .mobile-footer .conteudo-quimica {
    display: none;
}

.mobile-footer .conteudo-fisica.active, .mobile-footer .conteudo-quimica.active {
    display: block;
}

.mobile-footer .conteudo-fisica.area-selecionada .icones-scroll-wrapper {
    display: block;
}

.mobile-footer .conteudo-quimica.active .icones-scroll-wrapper {
    display: block;
}

.botao-area.selecionado {
    background-color: #7B9CC6;
    border-color: #3F696F;
}

.mobile-header .navbar {
    position: relative;
}

.mobile-header .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    min-width: 150px;
    background-color: #f8f9fa;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-header .navbar-nav .nav-link {
    font-weight: bold;
}

.botao-estatisticas {
    border: none;
    background-color: #1EB4C3;
    color: #00363C;
    width: 97%;
    margin-top: 325px;
    box-sizing: border-box; 
    flex-basis: 97%;
    margin-left: auto;
    margin-right: auto;
    transition: margin-top 0.3s ease;
}

.botao-estatisticas:hover {
    background-color: #22a8b4;
}

.modal-header .btn-close {
    padding: 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
}

#modalEstatisticas .modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.chart-container {
    flex: 1 1 45%;
    max-width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.chart-container-icones,
.chart-container-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.chart-container canvas,
.chart-container-icones canvas,
.chart-container-bar canvas {
    max-width: 100% !important;
    height: auto !important;
}

.itens-container:not(.hidden):has(.active) + .botao-estatisticas {
    margin-top: 20px;
}

.itens-container.hidden + .botao-estatisticas {
    margin-top: 450px;
}