body {
    background-color: #E9E9E9;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.cadastro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin-top: -20px;
}

.logo-poliedro img {
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 2px solid #3F696F;
    display: inline-block;
}

.campos-preenchimento {
    background: #F7F7F7;
    padding: 80px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 550px;
}

h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 24px;
    color: #000000;
}

input {
    width: 97%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #bab6ac;
    border-radius: 6px;
    font-size: 16px;
}

.campos-preenchimento input::placeholder {
    color: #444549;
    font-weight: 500;
}

.btn-cadastrar button {
    width: 100%;
    padding: 12px;
    background: #1EB4C3;
    color: #00363C;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-cadastrar:hover {
    background: #22a8b4 !important;
    border-radius: 6px;
}

#btn-cancelar {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 8px;
    color: #EC2252;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
